<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div id="bigBox">
        <div id="top">
            <div id="weekNum">
                第三周
            </div>
        </div>
        <div id="center">
            <div id="leftBox">
                <div id="monthBox">10月</div>
                <div id="timeBigBox">
                    <div class="lesson">
                        <div class="lessonItem">1</div>
                        <div><span>8:00</span><span>8:45</span></div>
                    </div>
                    <div class="lesson">
                        <div class="lessonItem">2</div>
                        <div><span>8:55</span><span>9:40</span></div>
                    </div>
                    <div class="lesson">
                        <div class="lessonItem">3</div>
                        <div><span>10:15</span><span>11:00</span></div>
                    </div>
                    <div class="lesson">
                        <div class="lessonItem">4</div>
                        <div><span>11:10</span><span>11:55</span></div>
                    </div>
                    <div class="lesson">
                        <div class="lessonItem">5</div>
                        <div><span>14:00</span><span>14:45</span></div>
                    </div>
                    <div class="lesson">
                        <div class="lessonItem">6</div>
                        <div><span>14:55</span><span>15:40</span></div>
                    </div>
                    <div class="lesson">
                        <div class="lessonItem">7</div>
                        <div><span>16:15</span><span>17:00</span></div>
                    </div>
                    <div class="lesson">
                        <div class="lessonItem">8</div>
                        <div><span>17:10</span><span>17:55</span></div>
                    </div>
                    <div class="lesson">
                        <div class="lessonItem">9</div>
                        <div><span>19:00</span><span>19:45</span></div>
                    </div>
                    <div class="lesson">
                        <div class="lessonItem">10</div>
                        <div><span>19:55</span><span>20:40</span></div>
                    </div>
                    <div class="lesson">
                        <div class="lessonItem">11</div>
                        <div><span>21:15</span><span>22:00</span></div>
                    </div>
                    <div class="lesson">
                        <div class="lessonItem">12</div>
                        <div><span>22:10</span><span>22:55</span></div>
                    </div>
                </div>
            </div>
            <div id="rightBox">
                <div class="dayBigBox">
                    <div class="dayHead"><span class="weekDay">周一</span><span class="wDay">1日</span></div>
                    <div class="classItem">

                    </div>
                </div>
                <div class="dayBigBox">
                    <div class="dayHead"><span class="weekDay">周二</span><span class="wDay">2日</span></div>
                    <div class="classItem">

                    </div>
                </div>
                <div class="dayBigBox">
                    <div class="dayHead"><span class="weekDay">周三</span><span class="wDay">3日</span></div>
                    <div class="classItem">

                    </div>
                </div>
                <div class="dayBigBox">
                    <div class="dayHead"><span class="weekDay">周四</span><span class="wDay">4日</span></div>
                    <div class="classItem">

                    </div>
                </div>
                <div class="dayBigBox">
                    <div class="dayHead"><span class="weekDay">周五</span><span class="wDay">5日</span></div>
                    <div class="classItem">

                    </div>
                </div>
                <div class="dayBigBox">
                    <div class="dayHead"><span class="weekDay">周六</span><span class="wDay">6日</span></div>
                    <div class="classItem">

                    </div>
                </div>
                <div class="dayBigBox">
                    <div class="dayHead"><span class="weekDay">周七</span><span class="wDay">7日</span></div>
                    <div class="classItem">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./index.js"></script>

</html>